.flex {
  display: flex;
}

.battle-circle {
  background-color: #ffa058;
  border: 5px solid #c97230;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 50%;
}

.battle-warp {
  position: relative;
}

.battle-warp > h3 {
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 0px;
}

.battle-inside-circle {
  background-color: white;
  border: 5px solid #c97230;
  border-radius: 50%;
  padding: 65px;
}

.battle-img {
  width: 100%;
}

.battle-txt {
  font-size: 30px;
  color: #ffa058;
}
